 .contact-icons {
 	position: fixed;
 	right: 20px;
 	/* Khoảng cách từ bên phải */
 	bottom: 20px;
 	/* Khoảng cách từ dưới */
 	display: flex;
 	flex-direction: column;
 	/* Xếp dọc */
 	gap: 10px;
 	/* Khoảng cách giữa các icon */
 	z-index: 1000;
 	/* Đảm bảo nằm trên các thành phần khác */
 }

 .icon {
 	width: 50px;
 	/* Chiều rộng của icon */
 	height: 50px;
 	/* Chiều cao của icon */
 	cursor: pointer;
 	background-color: white;
 	/* Nền trắng cho icon */
 	border-radius: 5px;
 	/* Bo góc */
 	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
 	/* Đổ bóng */
 	display: flex;
 	align-items: center;
 	justify-content: center;
 }

 .icon img {
 	width: 70%;
 	/* Chiều rộng của hình ảnh bên trong icon */
 	height: 70%;
 	/* Chiều cao của hình ảnh bên trong icon */
 }

 @media (max-width: 600px) {
 	.contact-icons {
 		right: 10px;
 		/* Khoảng cách từ bên phải trên mobile */
 		bottom: 10px;
 		/* Khoảng cách từ dưới trên mobile */
 	}

 	.icon {
 		width: 40px;
 		/* Kích thước icon nhỏ hơn trên mobile */
 		height: 40px;
 		/* Kích thước icon nhỏ hơn trên mobile */
 	}

 	.logo {}
 }

 .logo {
 	width: 150px;
 	height: 70px;
 }