<div th:fragment="slider" class="container mx-auto px-4 md:px-24 flex justify-center ">

	<style>
		.slider-main img {
			height: 850px;

		}
	</style>
	<div class="slider slider-main slick-list ">
		<div class="img d-flex align-items-center justify-content-center"><img
				th:src="@{/web/assets/images/cong-ty2.jpg}" alt="" style="outline:none; "></div>

		<div class="img d-flex align-items-center justify-content-center"><img
				th:src="@{/web/assets/images/xuong-1.jpg}" alt="" style="outline:none;"></div>
		<div class="img d-flex align-items-center justify-content-center"><img
				src="https://images.unsplash.com/photo-1462396240927-52058a6a84ec?ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80"
				alt="" style="outline:none;"></div>
	</div>
	<ul class="slick-dots"></ul>

	<script>
		$(document).ready(function () {
			$('.slider').slick({
				dots: true,
				infinite: true,
				slidesToShow: 1, // Chỉ hiển thị một ảnh
				slidesToScroll: 1,
				speed: 500,
				autoplay: true,
				autoplaySpeed: 2000,
				pauseOnHover: true,
				arrows: true,
			});
		});
	</script>

</div>