<footer th:fragment="block-footer" class="">
	
	<!--   Core JS Files   -->
	<script th:src="@{/Admin/assets/js/core/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/Admin/assets/js/core/popper.min.js}"></script>
	<script th:src="@{/Admin/assets/js/core/bootstrap.min.js}"></script>

	<!--    &lt;!&ndash; jQuery Scrollbar &ndash;&gt;-->
	<!--    <script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>-->

 		<!-- Chart JS -->
	<script th:src="@{/Admin/assets/js/plugin/chart.js/chart.min.js}"></script>

	<!-- jQuery Sparkline -->
	<script th:src="@{/Admin/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

	<!-- Chart Circle -->
	<script th:src="@{/Admin/assets/js/plugin/chart-circle/circles.min.js}"></script>

	<!-- Datatables -->
	<script th:src="@{/Admin/assets/js/plugin/datatables/datatables.min.js}"></script>

	<!-- Bootstrap Notify -->
	<script th:src="@{/Admin/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>

	<!-- jQuery Vector Maps -->
	<script th:src="@{/Admin/assets/js/plugin/jsvectormap/jsvectormap.min.js}"></script>
	<script th:src="@{/Admin/assets/js/plugin/jsvectormap/world.js}"></script>

	<!-- Sweet Alert -->
	<script th:src="@{/Admin/assets/js/plugin/sweetalert/sweetalert.min.js}"></script>

	<!-- Kaiadmin JS -->
		<script th:src="@{/Admin/assets/js/kaiadmin.min.js}"></script>
	<script th:src="@{/Admin/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
	<!--

	 Kaiadmin DEMO methods, don't include it in your project! 
	<script th:src="@{/Admin/assets/js/setting-demo.js}"></script>
	<script th:src="@{/Admin/assets/js/demo.js}"></script>

	 jQuery Scrollbar 
	 Datatables 
	<script th:src="@{/Admin/assets/js/plugin/datatables/datatables.min.js}"></script>
	 Kaiadmin JS 
	<script th:src="@{/Admin/assets/js/kaiadmin.min.js}"></script>-->
	
</footer>